.formulario
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.formulario input, .formulario h3, .formulario textarea
{
    margin-top: 1%;
    margin-bottom: 1%;
}
.formulario textarea
{
    text-align: justify;
}
.formato
{
    border-radius: 5px;
    text-align: center;
}
.btnEnviar
{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(247, 104, 2, 1);
    border-radius: 6px;
    border: 2px solid rgba(247, 10, 2, 1);
    margin-left: 1%;
    
}
.btnEnviar:hover
{
    cursor: pointer;
    color: rgba(247, 104, 2, 1) ;
    background-color: #ffffff;
}
.fromularioCompra h2, .fromularioCompra label, .fromularioCompra input
{
    margin-bottom: 1%;
}
