.detalleCarritoProducto
{
    display: grid;
    grid-template-columns: 10% 28% 25% 27% 10%;
    align-items: center;
    margin: 3%;
}
.btnCarritoDetail
{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(247, 104, 2, 1);
    border-radius: 6px;
    border: 2px solid rgba(247, 10, 2, 1);
    margin-left: 1%;
    
}
.btnCarritoDetail:hover
{
    cursor: pointer;
    color: rgba(247, 104, 2, 1) ;
    background-color: #ffffff;
}
.imagenCartDetail
{
    height: 50%;
    border: 2px solid;
    display: flex;
    border-color: rgba(247, 104, 2, 0.37);
}
.cantidadProducto
{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.cantidadProducto button
{
    margin-left: 15%;
    margin-right: 15%;
    width: 20%;
}
@media (max-width: 1000px) 
{
    .detalleCarritoProducto
    {
        grid-template-columns: 35% 25% 25% 15%;
    }
    .imagenCartDetail
    {
        display: none;
    }
}
@media (max-width: 720px) 
{
    .cantidadProducto button
    {
        margin-left: 0;
        margin-right: 0;
        width: 30%;
    }    
}
@media (max-width: 450px) 
{
    .detalleCarritoProducto
    {
        grid-template-columns: 40% 25% 25% 10%;
    }    
}