.detalleCarritoProducto
{
    display: grid;
    grid-template-columns: 10% 25% 20% 25% 20%;
    align-items: center;
    margin: 3%;
}
.btnDetalleCarritoProdcuto button
{
    width: 20%;
}
.btnCarrito
{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(247, 104, 2, 1);
    border-radius: 6px;
    border: 2px solid rgba(247, 10, 2, 1);
    margin-left: 1%;
    
}
.btnCarrito:hover
{
    cursor: pointer;
    color: rgba(247, 104, 2, 1) ;
    background-color: #ffffff;
}
.imagenCartDetail
{
    height: 50%;
    border: 2px solid;
    display: flex;
    border-color: rgba(247, 104, 2, 0.37);
}